@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg {
    background-image: url("https://assets.ccbp.in/frontend/static-website/flats-list-bg.png");
    height: 80vh;
    background-size: cover;
}

.homepage {
    height: 10vh;
    background-color: white;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 40px;
    text-align: center;
}

.heading {
    color: #f19116;
    font-size: 20px;
}

.para {
    font-size: 15px;
    color: #6c6b70;
}

.button {
    background-color: #f19116;
    color: white;
    padding: 8px;
    border-radius: 5px;
    border-width: 0px;
}

.favourite-place-card-image {
    width: 100px;

}

.favourite-places-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/towerbg.png");
    height: 140vh;
    background-size: cover;
}

.favourite-places-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: bold;
    padding: 24px;
}

.favourite-place-card-container {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    margin: 15px;
}

.favourite-place-card-heading {
    color: #0f0e46;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: bold;
}

.favourite-place-card-description {
    color: #6c6b70;
    font-family: "Roboto";
    font-size: 13px;
    height: 100px;
}

.bg-2 {
    background-color: black;
    background-size: cover;
    height: 120vh;
}

.pic {
    height: 190px;
    width: 80px;
    margin-left: 15px;
}

.flat {
    margin-bottom: 13px;
}

.flats {
    background-color: white;
    padding: 6px;
    height: 30vh;
    margin-right: 10px;
}

.head {
    font-size: 28px;
    color: #0f0e46;
}

.bg-3 {
    background-color: black;
    background-size: cover;
    padding: 20px;
}

.heading1 {
    color: #f19116;
    font-size: 25px;
}

.par {
    color: white;
    font-size: 15px;
}

.pics {
    height: 20px;
    width: 20px;
}